.stickers {
    position: absolute;
    top: 0;
    gap: 40rem;
}

.stickers .sticker_1 img {
    width: 100px;
    filter: brightness(0%);
    transform: scaleX(-1);
}

.stickers .sticker_2 img {
    width: 100px;
    filter: brightness(0%);
}

.clip {
    position: absolute;
    z-index: 997;
    top: -1.3rem;
    left: 5rem;
}

.clip img {
    width: 30px;
    transform: rotate(-30deg);
    filter: hue-rotate(305deg) saturate(250%);
}

.card_wrapper {
    position: relative;
    background-color: aliceblue;
    height: 25rem;
    width: 50rem;
    margin-bottom: 8.4rem;
    background-image: url("../assets/images/confetti_back.jpg");
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    position: relative;
    top: -1.5rem;
    background-color: rgb(219, 117, 117);
    height: 20rem;
    width: 45rem;
    border: 4px dotted #fff;
    border-radius: 15px;
    rotate: 3deg;
}

.card_content_wrapper {
    /* rotate: -3deg; */
    gap: 2rem;
}

.card_img, .card_txt{
    position: relative;
    background-color: transparent;
}

.card_img {
    height: 12rem;
    width: 12rem;
    border: 10px solid #fff;
    border-bottom-width: 45px;
}

.card_txt {
    height: 17rem;
    width: 16rem;
}

.duct_tape {
    position: absolute;
    right: -2rem;
    top: -2rem;
    z-index: 999;
}

.duct_tape img {
    width: 80px;
}

.butterflies {
    position: absolute;
    z-index: 990;
}

.butterflies img {
    width: 300px;
}

.pin {
    position: absolute;
    z-index: 999;
    top: 1rem;
}

.pin img {
    width: 50px;
    filter: hue-rotate(310deg);
}

.polaroid_container {
    position: relative;
    max-width: 12rem;
}

.polaroid_group {
    z-index: 998;
    position: relative;
    top: 3px;
}

.polaroid {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.bow {
    position: absolute;
    z-index: 999;
    top: 6rem;
    left: 0;
}

.bow img {
    width: 300px;
}

/* Some positioning and ratios */
.sticky-container {
    max-width: 270px;
    position: relative;
}
  
.sticky-outer {
    display: flex;
    padding-top: 92.5925926%;
    position: relative;
    width: 100%;
}
  
.sticky {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
/* Shadow behind the sticky note */
.sticky:before {
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    content: '';
    width: 90%;
    left: 10px;
    height: 83%;
    position: absolute;
    top: 30%;
}
  
/* The sticky note itself */
.sticky-content {
    background: linear-gradient(180deg, 
                                rgb(253 253 165) 0%,
                                rgb(255 250 144) 12%,
                                rgb(242 253 93) 75%,
                                rgb(255 251 64) 100%
                            );
    width: 100%;
    height: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam', cursive;
    font-size: 1rem;
    clip-path: url(#stickyClip);
}

.sticky_group p {
    font-size: 0.8rem;
}

#par2 {
    font-size: 1.3rem;
}

#par3 {
    font-size: 2.5rem;
}

#par4 {
    font-size: 0.85rem;
}

#par5 {
    font-size: 0.85rem;
}

#par6 {
    font-size: 1.5rem;
}

#par7 {
    font-size: 2rem;
}

#par8 {
    font-size: 1rem;
}

/* Add responsiveness */
@media screen and (min-width: 640px) {
    .sticky:before {
      height: 79%;
      width: 90%;
    }
    .sticky-content {
      font-size: 1.25rem;
    }
}
  
@media screen and (min-width: 768px) {
    .sticky:before {
      height: 75%;
      width: 90%;
    }
    .sticky-content {
      font-size: 1.5rem;
    }
}
  
@media screen and (min-width: 1024px) {
    .sticky:before {
      height: 73%;
      width: 90%;
    }
    .sticky-content {
      font-size: 1.875rem;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .card_content_wrapper {
        flex-direction: column;
        gap: 0rem;
    }

    .stickers_container {
        flex-direction: row;
    }

    .card_wrapper {
        width: 20rem;
        height: 35rem;
    }

    .card {
        width: 17rem;
        height: 31rem;
    }

    .stickers {
        gap: 14rem;
    }

    .stickers .sticker_1 img {
        width: 60px;
    }

    .stickers .sticker_2 img {
        width: 60px;
    }

    .clip {
        top: -0.6rem;
        left: 4.5rem;
    }

    .clip img {
        width: 18px;
    }

    .bow {
        top: 7rem;
        left: 4rem;
    }

    .bow img {
        width: 155px;
    }

    .butterflies img {
        width: 215px;
    }

    .pin img {
        width: 30px;
    }

    .duct_tape {
        right: -1.2rem;
        top: -1.2rem;
    }

    .duct_tape img {
        width: 45px;
    }

    .card_img {
        height: 10rem;
        width: 10rem;
    }

    .sticky:before {
        left: 6px;
        height: 73%;
    }

    .card_txt {
        height: 12rem;
        width: 12rem;
    }

    .sticky_group p {
        font-size: 0.6rem;
    }
    
    #par2 {
        font-size: 1.1rem;
    }
    
    #par3 {
        font-size: 2rem;
    }
    
    #par4 {
        font-size: 0.723rem;
    }
    
    #par5 {
        font-size: 0.68rem;
    }
    
    #par6 {
        font-size: 1rem;
    }
    
    #par7 {
        font-size: 2rem;
    }
    
    #par8 {
        font-size: 0.73rem;
    }
}

@media (max-width: 845px) and (min-width: 601px) {

    .card_content_wrapper {
        gap: 1.2rem;
    }

    .card_wrapper {
        height: 20rem;
        width: 36rem;
    }

    .card {
        height: 16rem;
        width: 33rem;
    }

    .card_txt {
        height: 14rem;
        width: 13rem;
    }

    .sticky:before {
        left: 7px;
        height: 75%;
    }

    .stickers {
        gap: 29rem;
    }

    .stickers .sticker_1 img {
        width: 70px;
    }

    .stickers .sticker_2 img {
        width: 70px;
    }

    .bow {
        top: 7rem;
        left: 4rem;
    }

    .bow img {
        width: 170px;
    }

    .butterflies img {
        width: 210px;
    }

    .duct_tape {
        right: -1.2rem;
        top: -1.2rem;
    }

    .duct_tape img {
        width: 50px;
    }

    .clip {
        top: -1.2rem;
        left: 3rem;
    }

    .clip img {
        width: 22px;
    }

    .card_img {
        height: 10rem;
        width: 10rem;
    }

    .pin img {
        width: 35px;
    }

    .sticky_group p {
        font-size: 0.65rem;
    }
    
    #par2 {
        font-size: 1.2rem;
    }
    
    #par3 {
        font-size: 2.2rem;
    }
    
    #par4 {
        font-size: 0.783rem;
    }
    
    #par5 {
        font-size: 0.74rem;
    }
    
    #par6 {
        font-size: 1.2rem;
    }
    
    #par7 {
        font-size: 2.3rem;
    }
    
    #par8 {
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) and (min-width: 846px) {
    .stickers {
        gap: 35rem;
    }

    .stickers .sticker_1 img {
        width: 85px;
    }

    .stickers .sticker_2 img {
        width: 85px;
    }

    .card_wrapper {
        height: 21rem;
        width: 45rem;
    }

    .card {
        height: 18rem;
        width: 40rem;
        top: -0.5rem;
    }

    .card_img {
        height: 11rem;
        width: 11rem;
    }

    .bow {
        top: 7rem;
        left: 4rem;
    }

    .bow img {
        width: 190px;
    }

    .clip {
        top: -1rem;
        left: 4rem;
    }

    .clip img {
        width: 25px;
    }

    .butterflies img {
        width: 250px;
    }

    .duct_tape {
        right: -1.2rem;
        top: -1.2rem;
    }

    .duct_tape img {
        width: 55px;
    }

    .pin img {
        width: 40px;
    }

    .card_txt {
        height: 15rem;
        width: 14rem;
    }

    .sticky_group p {
        font-size: 0.72rem;
    }
    
    #par2 {
        font-size: 1.25rem;
    }
    
    #par3 {
        font-size: 2.35rem;
    }
    
    #par4 {
        font-size: 0.844rem;
    }
    
    #par5 {
        font-size: 0.8rem;
    }
    
    #par6 {
        font-size: 1.3rem;
    }
    
    #par7 {
        font-size: 2.5rem;
    }
    
    #par8 {
        font-size: 0.85rem;
    }
}