.wish {
    position: relative;
    top: -5rem;
}

.hbd_text h1 {
    font-family: beautifulpeople;
    font-weight: lighter;
    font-size: xx-large;
    text-decoration: underline;
    text-shadow: 2px 2px #000, 1px 1px 20px #fff;
}

.hbd_name {
    margin-top: 15px;
}

.hbd_name h1 {
    font-family: tomatoes;
    font-size: x-large;
    text-shadow: 2px 2px 3px #000, 1px 1px 20px #fff;
}

.hbd_cloud {
    position: absolute;
    bottom: -45px;
}

.hbd_cloud img {
    width: 100px;
}

.hbd_camera {
    position: absolute;
    left: -35px;
    top: 35px;
    z-index: -1;
    animation: float infinite 2s;
}

.hbd_camera img {
    width: 90px;
}

.hbd_img img {
    width: 250px;
    border-radius: 100%;
    box-shadow: 2px 2px 3px #000, -2px -2px 3px #fff;
}

.hbd_ribbon {
    position: absolute;
    bottom: -28px;
}

.hbd_ribbon img {
    width: 55px;
    animation: wobble infinite 3s;
}

.floating_img img {
    position: fixed;
    width: 290px;
    z-index: 999;
}

.floating_1 img {
    left: 6rem;
    top: 4rem;
}

.floating_2 img {
    right: 6rem;
    top: 4rem;
}


@keyframes float {
    0%{
        top: 35px;
    }
    50% {
        top: 40px;
    }
    100% {
        top: 35px;
    }
}

@keyframes wobble {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 15deg;
    }
    100% {
        rotate: 0deg;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wish {
        top: -3rem;
    }

    .hbd_text h1 {
        font-size: x-large;
    }

    .hbd_name h1 {
        font-size: large;
    }

    .hbd_cloud {
        bottom: -35px;
    }

    .hbd_cloud img {
        width: 80px;
    }

    .hbd_camera {
        left: -30px;
        top: 40px;
    }
    
    .hbd_camera img {
        width: 70px;
    }

    .hbd_img img {
        width: 220px;
    }

    .hbd_ribbon {
        bottom: -20px;
    }

    .hbd_ribbon img {
        width: 35px;
    }

    .floating_img_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .floating_img img {
        position: relative;
        width: 110px;
        z-index: 0;
    }

    .floating_1 img {
        left: 0rem;
        top: 0rem;
    }
    
    .floating_2 img {
        right: 0rem;
        top: 0rem;
    }
}

@media (max-width: 845px) and (min-width: 601px) {
    .floating_img img {
        position: fixed;
        width: 150px;
    }

    .floating_1 img {
        left: 0rem;
        top: 5rem;
    }
    
    .floating_2 img {
        right: 0rem;
        top: 5rem;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}